body {
  font-family: sans-serif;
}

legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a,
a:active,
a:hover,
a:visited {
    outline: 0;
    text-decoration: none;
}
a:focus,
button:focus {
    outline: 1px solid;
}
a:focus:hover,
a:focus:active,
button:focus:hover,
button:focus:active {
    outline: 0;
}
.clear {
    clear: both;
}
.hide {
    display: none !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
pre {
    color: #fff;
    font-family: "Courier New", monospace;
    text-align: left;
    word-spacing: normal;
    white-space: pre;
    overflow-wrap: normal;
    line-height: 1.4;
    background: #343434;
    border: 0px;
    padding: 15px 15px 0;
    margin: 16px 0px;
    overflow: auto;
    border-radius: 10px 0 0 10px;
    font-size: 12px;
    font-style: italic;
}
pre code {
    font-style: normal;
}
.container {
    width: calc(100% - 30px);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}
section {
    margin: 0 0 50px;
}
h2 {
    font-size: 14px;
    font-weight: normal;
}
h2 i {
    font-size: 10px;
    background: #09c3fb;
    color: #fff;
    padding: 7px 0 0;
    border-radius: 50%;
    width: 28px;
    display: inline-block;
    height: 28px;
    text-align: center;
    vertical-align: middle;
}
h2 span {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid #09c3fb;
}
.css h2 i {
    background: #04e05e;
}
.css h2 span {
    border-color: #04e05e;
}
.css .answer pre {
    border-color: #04e05e;
}
.answer pre {
    background: #eee;
    color: #000;
    margin-top: 5px;
    border-left: 5px solid #09c3fb;
    margin-left: 50px;
    border-radius: 0 10px 10px 0;
}