.box {
  width: 140px;
  height: 100px;
  position: absolute;
  margin: 0 !important;
  div.center{
    .v-center();
  }
  &.m{
    width: 250px;
    min-height: 355px;
    height: auto;
  }
  &.logo{
    top: 15vh;
    left: 40px;
    height: 30px;
    width: 400px;
    z-index: 99;
    padding: 8px 10px 0;
    margin: 0 0 0 -30px !important;
  }
  &.title{
    .rotate( -90 );
    left: -20px;
    text-align: center;
    width: 206px;
    background: none;
    box-shadow: 0 0 0;
    bottom: calc(6.5vw);
  }
  &.about{
    left: 260px;
    top: auto;
    height: 100%;
    bottom: 0;
    > div{
      position: absolute;
      bottom: calc(9vh);
    }
  }
  &.menu{
    right: 0;
    top: auto;
    bottom: 0;
    height: 100%;
    nav{
      .rotate( 90 );
      width: 400px;
      position: absolute;
      bottom: 30vh;
      a{
        margin: 0 5vh 0 0;
      }     
    }
  }
  &.exp{
    right: 0;
    top: 15vh;
    .fonts( 60 );
  }
}
.wrapper{
  max-width: 768px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}
footer .wrapper{
  height: 100%;
}
.pre-load footer {
   margin-top: 500px !important;
   opacity: 0 !important;
}
footer {
  .transition(all .8s ease-out);
  .transition-delay(1.5s);
   margin-top: 0 !important;
   opacity: 1 !important;
}
footer .wrapper{
  min-height: initial !important;
  height: auto !important;
}
.bg{
  .fonts( 90 );
}