.box {
  width: 140px;
  height: 100px;
  position: absolute;
  margin: 0 !important;
  div.center{
    .v-center();
  }
  &.m{
    min-height: 355px;
    height: auto;
  }
  &.logo{
    top: 15px;
    left: 15px;
  }
  &.title{
    top: 130px;
    left: 15px;
  }
  &.about{
    left: 170px;
    top: 130px;
  }
  &.skills{
    right: 84px;
    top: 245px;
    background-color: #ff512f;
  }
  &.exp{
    right: 15px;
    top: 130px;
    .fonts( 60 );
  }
}
.wrapper{
  max-width: 768px;
  margin: 0 auto;
  position: relative;
  min-height: 600px;
}
footer {
  margin-top: 0 !important;
}
footer .wrapper{
  min-height: initial;
}