.box {
  width: 140px;
  height: 100px;
  position: absolute;
  margin: 0 !important;
  div.center{
    .v-center();
  }
  &.m{
    width: 250px;
    min-height: 355px;
    height: auto;
  }
  &.logo{
    top: 50px;
    left: 40px;
    height: 30px;
    width: 400px;
    z-index: 99;
    padding: 8px 10px 0;
    margin: 0 0 0 -30px !important;
  }
  &.title{
    .rotate( -90 );
    left: -20px;
    text-align: center;
    width: 206px;
    background: none;
    box-shadow: 0 0 0;
    bottom: 100px;
  }
  &.about{
    left: 260px;
    top: 130px;
  }
  &.skills{
    right: 0;
    top: 245px;
    background-color: @white;
  }
  &.exp{
    right: 15px;
    top: 130px;
    .fonts( 60 );
  }
}
.wrapper{
  max-width: 768px;
  margin: 0 auto;
  position: relative;
  min-height: 600px;
}
.pre-load footer {
   margin-top: 500px !important;
   opacity: 0 !important;
}
footer {
  .transition(all .8s ease-out);
  .transition-delay(1.5s);
   margin-top: 0 !important;
   opacity: 1 !important;
}
footer .wrapper{
  min-height: initial;
}