<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
<meta name=description content="My name is Pramith Prakash from India. Mostly focused on designs & interactions, I’m looking for opportunities in UI/UX Design and Frontend Development.">
<meta name=keywords content="pramith,pramithprakash,pramith prakash,prakash, pramith.com, pramithprakash.com,pramithprakash@gmail.com">
<meta name=author content="pramith">
<meta name=robots content="index,follow">
<title>pramithprakash</title>
<link rel="shortcut icon" href="library/images/favicon.ico" type="image/x-icon">
<link rel=icon href="library/images/favicon.ico" type="image/x-icon">
<link href="library/css/pramith.com/index.css" rel=stylesheet>
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class=pre-load ng-controller=dataController>
<div id=bgCanvasOuter class=bg-canvas>
<canvas id=bgCanvas></canvas>
</div>
<span class=bg>&#60;&#47;&#62; pramithprakash</span>
<div class=page ng-class="{'links-active' : hash !== 'home' && hash !== 'contact' }">
<section class=wrapper ng-class="{'full' : hash === 'work' || hash === 'https'}">
<div class="box logo" ng-class="{'contact' : hash === 'contact' }"><a href="#home">
    <svg width="200" height="20" viewBox="0 0 200 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g fill="#313131" fill-rule="nonzero">
            <g transform="translate(2, 2)">
              <g style="
position: relative;
">
                <path d="M15,-2 L15,9 L2,9 L2,15 L-2,15 L-2,-2 L15,-2 Z M11,2 L2,2 L2,5 L11,5 L11,2 Z"></path>
                <polygon points="27.002188 5 27.002188 9 19 9 22 5" x="50"></polygon><text id="Praitb_" data-name="Praitb " class="logo-text" x="52" y="15"><tspan>pramith prakash</tspan></text>

              </g>
            </g>
          </g>
        </g>
      </svg>
    <!-- <strong>&#60;&#47;&#62;</strong><span ng-bind-html="data.logoText | trust"></span> -->
</a></div>
<div class="box colored title" ng-class="{'contact' : hash === 'contact' }"><div class=center ng-bind-html="data.title | trust"></div></div>
<div class="box sh m inview include" ng-view></div>
<div class="box sh m inview include mobile">
<div class=anim>
<h5 ng-bind-html="data.aboutTitle | trust"></h5>
<p ng-bind-html="data.aboutText| trust"></p>
</div>
</div>
<div class="box sh m colored menu">
<nav ng-class="{'hoz' : hash !== 'home' }">
<a href="#about">about</a>
<a href="#skills">skills</a>
<a href="#contact">contact</a>
</nav>
</div>
</section>
<footer ng-class="{'active' : hash === 'contact' }" ng-if="hash !== 'work' && hash !== 'https'">
<section class=wrapper>
<div class=counter-text><strong ng-bind=miliseconds></strong><span ng-bind-html="data.secondsText | trust"></span></div>
<ul class=social>
<li><a class=facebook href="{{data.facebook}}" target=_blank></a></li>
<li><a class=twitter href="{{data.twitter}}" target=_blank></a></li>
<li><a class=linkedin href="{{data.linkedin}}" target=_blank></a></li>
</ul>
<div class=reach-out>
<a href="mailto:hello@pramith.com">hello@pramith.com</a>
</div>
</section>
<a href="#home" class=close></a>
</footer>
</div>
<div ng-if="coordinatesShow" class="coordinates">X <span ng-bind="coox"></span> Y <span ng-bind="cooy"></span></div>
<div class="hover-container"><div class="hover-circle"></div></div>
</body>
<script src="library/js/vendor/Modernizr.js"></script>
<script data-desc="requirejs runtime config">
var globalExcludes=["jquery","vendor/angular-min","vendor/angular-route-min","vendor/angular-animate-min"],require={baseUrl:"library/js",waitSeconds:90,paths:{jquery:"vendor/jquery"},shim:{"vendor/angular-min":{exports:"angular"}},modules:[{name:"mediators/app"}],map:{"*":{jquery:"modules/noconflict"},"modules/noconflict":{jquery:"jquery"}}};
</script>
<script src="library/js/vendor/require.js" data-main="mediators/app"></script>
<script>
    var now = new Date();
    if (now.getHours() >= 18 || now.getHours() <= 6) {
        document.body.classList.add("night");
    }
</script>
</html>