<div class="anim work">
  <section class="work-view" ng-repeat="work in data.works">
    <div class="work-image">
      <div class="image">
        <img src="library/portfolio/p32.jpg" />
      </div>
      <div class="tags"><span ng-repeat="tag in work.tags" ng-bind="tag"></span></div>
    </div>
    <div class="work-info">
      <h4 ng-bind="work.name"></h4>
      <div class="desc">
        <p ng-bind="work.description"></p>
      </div>
    </div>
  </section>
</div>
<a href="#home" class="close"></a>