body {
    color: #3d4451;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #efefef;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans";
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}


.loading #preloader {
    display: block;
}

.loading .wrapper {
    opacity: 0;
    visibility: hidden;
}

#preloader {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff;
}

#preloader .preload-text {
    display: none;
}

#preloader .preload-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    padding: 0px;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -35px;
}

#preloader .preload-icon span {
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #000000;
    -webkit-animation: preloader 1.6s linear infinite;
    -moz-animation: preloader 1.6s linear infinite;
    animation: preloader 1.6s linear infinite;
}

#preloader .preload-icon span:last-child {
    -webkit-animation-delay: -0.8s;
    -moz-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes preloader {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}

@-moz-keyframes preloader {
    0% {
        -moz-transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes preloader {
    0% {
        transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.col-xs-5 {
    width: 41.66667%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
.col-xs-7 {
    width: 58.33333%;
    float: left;
}
.content {
    z-index: 2;
    position: relative;
}
.container {
    width: 100%;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
.section-about {
    padding-top: 40px;
    position: relative;
}
.section-about .section-box {
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.section-about .profile {
    padding: 57px 50px 15px 50px;
}
.section-about .profile-photo {
    margin-right: 10%;
    margin-bottom: 10px;
}
.profile-photo img {
    width: 100%;
    display: block;
}
.section-about .profile-info {
    color: #3d4451;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dedede;
}
.profile-preword {
    margin-bottom: 28px;
}
.profile-preword span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    display: inline-block;
    padding: 7px 12px;
    text-transform: uppercase;
    position: relative;
}
.profile-preword span:before {
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent;
}
.section-about .profile-title {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 5px;
}
.section-about .profile-title span {
    font-weight: 300;
}
.section-about .profile-position {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0;
}
.profile-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.profile-list li {
    margin-bottom: 13px;
}
.profile-list .title {
    display: block;
    width: 120px;
    float: left;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.profile-list .cont {
    display: block;
    margin-left: 125px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #9da0a7;
}
.profile-social {
    padding: 15px 0;
}
.social {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.social li {
    display: inline-block;
    margin: 5px 15px;
}
.social li a {
    width: 45px;
    height: 45px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
    -moz-transition: -moz-transition, background-color 0.25s linear 0s;
    transition: transition, background-color 0.25s linear 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.social li a, .social li a .rsicon {
    line-height: 45;
}
.social li a .rsicon {
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    display: block;
    vertical-align: middle;
}
.profile-social,.profile-preword span{
    background-color: #e86767;
}
.profile-preword span:before{
    border-left-color: #e86767;
}
@media (max-width: 992px) {
    .section-box {
        padding: 50px 40px;
    }
}

@media (max-width: 767px) {
    .section {
        padding-top: 50px;
    }

    .section-box {
        padding: 30px 20px;
    }

    .section-title {
        font-size: 30px;
    }
    .profile-list .title, .profile-list .cont {
        width: 100%;
        float: none;
        line-height: 1.2;
    }
    .profile-list .cont {
        margin-left: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px){
    .section-about .row > div {
        width: 100%;
    }
}
