.box.menu nav{
  .rotate( 0 );
}
.box.logo.contact{
  top: calc( 50vh - 30px );
}
.links-active .box.include > div{
  position: static;
  padding-top: 50px;
}
.links-active .wrapper{
  min-height: 470px;
}