blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  .borderbox();
  outline: none;
}
a,
a:active,
a:hover,
a:visited {
  outline: 0;
  text-decoration: none;
}
.clear {
  clear: both;
}
.hide {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
* {
  margin: 0;
  padding: 0;
  .borderbox();
}
@font-face {
    font-family: 'fontLight';
    src :  url('../../fonts/fontLight.woff') format("woff");
    font-weight: 100;
    font-style: normal;
    -webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale
}
body{
  overflow-y: scroll;
  background: @white;
  color: @black;
}
body,
html {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  .fonts( 16 );
  line-height: 22px;
  font-family: 'fontLight','Open Sans', sans-serif;
  font-weight: 300;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.wrapper{
  margin: 15px 0 0;
}
.pre-load {
  *{
    overflow: hidden;
  }
  background: @black;
  color: @white;
  position: fixed;
  overflow: hidden;
  .page {
    &:after{
      left: -110% !important;
    }
    &:before{
      left: -110% !important;
    }
  }
  .page > .wrapper{
    &:after{
      left: -110% !important;
    }
    &:before{
      left: -110% !important;
    }
  }
  .box{
    &.logo,&.title,&.include{
      left: -110% !important;
    }
    &.menu,&.exp{
      right: 1110% !important;
    }
  }
  footer{
    opacity: 0 !important;
  }
}
.box{
  position: relative;
  &.logo,&.title,&.include{
    left: 0;
  }
  .menu {
      display: none;
  }
  &.include{
    div.home {
        .exp {
            margin: 0;
            padding: 68px 0 0;
        }

        section {
            padding-bottom: 50px;

            &:last-child {
                padding-bottom: 0;
            }

            h2 {
                display: none;
            }
        }
    }

    > div{
      .skills,
      &.skills{
        h5{
          display: inline;
          margin: 2%;
          position: relative;
          strong{
            display: inline-block;
            &.s9{
              .fonts( 50 );
              line-height: 50px;
            }
            &.s8{
              .fonts( 40 );
              line-height: 40px;
            }
            &.s7{
              .fonts( 35 );
              line-height: 35px;
            }
            &.s6{
              .fonts( 30 );
            }
            &.s5{
              .fonts( 25 );
            }
            &.s4{
              .fonts( 20 );
            }
            &.s3{
              .fonts( 15 );
            }
            &.s2{
              .fonts( 10 );
            }
            &.s1{
              .fonts( 8 );
            }
          }
        }
      }
    }
  }
  &.menu,&.exp{
    right: 0;
  }
  &.sh{
    box-shadow: 0 15px 100px rgba(0,0,0,.06);
  }
  &.inview{
    opacity: 1;
    margin: 0 15px 15px;

    .box {
        opacity: 1;
    }
  }
  a{
    color: @black;
    text-decoration: none;
    &:hover{
      opacity: 1;
    }
  }
  position: relative;
  opacity: 0;
  background-color: transparent;
  margin: 20px 15px 15px;
  padding: 15px;
  &.logo{
    a{
      opacity: 1; 
      color: @brandColor;
      position: relative;
      display: inline-block;
    }
    height: 30px;
    width: 100%;
    z-index: 99;
    padding: 8px 30px 0;
    margin: 0 !important;
    line-height: 20px;
    .fonts( 12 );
    text-transform: uppercase;
    strong{
      font-weight: 800;
      margin-right: 10px;
    }
    span{
      color:@black;
      span{
        display: none;
      }
    }
  }
  &.title{
    font-weight: 700;
    span{
      color: @brandColor;
    }
  }
  &.exp{
    .fonts( 100 );
    line-height: 72px;
    font-weight: 700;
    padding: 22px 10px;
    strong:after{
      content: '+';
    }
    span{
      .fonts( 12 );
      .rotate( 90 );
      display: block;
      position: absolute;
      right: 10px;
      bottom: 20px;
      font-weight: 300;
      line-height: 12px;
    }
  }
  &.menu{
    //min-height: 125px;
  }
  h5{
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 10px;
    font-weight: 400;
  }
}
footer{
  box-shadow: 0 15px 100px rgba(0, 0, 0, 0.33);
  z-index: 9999;
  position: relative;
  background: @white;
  .transition(all .2s ease-out);
  &.inview{
    opacity: 1;
    margin: 0;
  } 
  opacity: 0;
  margin: 150px 0 0;
  .wrapper{
    margin-top: 0;
    padding: 15px;
  }
  .counter-text{
    strong{
      .fonts( 30 );
      font-weight: 600;
      margin: 0 8px 0 0;
    }
  }
  .social{
    list-style-type: none;
    padding: 20px 0 10px;
    .clearfix();
    li{
      float: left;
      margin: 0 4px 0 0;
      a{
        display: block;
        width: 40px;
        height: 40px;
        background-size: 40px !important;
        &.facebook{
          background: url( @facebook ) no-repeat center center;
        }
        &.twitter{
          background: url( @twitter ) no-repeat center center;
        }
        &.linkedin{
          background: url( @linkedin ) no-repeat center center;
        }
        &.hangout{
          background: url( @hangout ) no-repeat center center;
          background-size: 28px !important;
        }
      }
    }
  }
}
.page{
  &:after{
    .transition(all .8s ease-out);
    .transition-delay(1s);
    position: absolute;
    width: 200px;
    height: 100%;
    left: 15px;
    content: '';
    display: block;
    top: 0;    opacity: .6;
    box-shadow: 0 15px 100px rgba(0,0,0,.06);
  }
  &:before{
    .transition(all .8s ease-out);
    .transition-delay(2s);
    position: absolute;
    width: 140px;
    height: 100%;
    left: 0;
    content: '';
    display: block;
    top: 0;    opacity: .6;
    box-shadow: 0 15px 100px rgba(0,0,0,.06);
  }
}
.reach-out a{
  color: @brandColor;
  display: block;
}
.close, nav{
  display: none;
}
.close{
  .transition(all .1s ease-out);
  position: fixed;
  z-index: 9;
  top: 20px;
  right: 20px;
  height: 80px;
  width: 80px;
  background: url( @closeIcon ) no-repeat 0 0;
  background-size: cover;
  &:hover{
    .rotate( 90 );
  }
}
.page > .wrapper{
  &:after{
    .transition(all .8s ease-out);
    .transition-delay(1s);
    position: absolute;
    width: 140px;
    height: 100%;
    left: 15px;
    content: '';
    display: block;
    top: 0;
    box-shadow: 0 15px 100px rgba(0,0,0,.06);
  }
  &:before{
    .transition(all .8s ease-out);
    .transition-delay(2s);
    position: absolute;
    width: 249px;
    height: 100%;
    left: 0;
    content: '';
    display: block;
    top: 0;
    box-shadow: 0 15px 100px rgba(0,0,0,.06);
    background: rgba(236, 74, 20, 0.02);
  }
}
.pre-load .include{
  visibility: hidden;
}
.pre-load {
  .page{
    z-index: -1;
  }
  .bg{
    opacity: .8;
    z-index: 2;
  }
}
.page{
  z-index: 1;
  position: relative;
}
.bg{
  .center-center();
  position: fixed;
  width: 100%;
  text-align: center;
  opacity: 0;
  line-height: 1;
  z-index: 0;
  font-weight: 700;
  .fonts( 40 );
}
.notfound {
  z-index: 99;
  h6{
    .fonts( 100 );
    line-height: 100px;
  }
  a{
    cursor: pointer;
    color: @brandColor
  }
}
.blink.home {
  h5,p{
    &:after{
      content: '_';
      .animation( 1s blink ease-out infinite ); 
    }
  }
}
@-webkit-keyframes blink {
  0% {opacity: 0;content: ''}
  100% {opacity: 1;content: '_'}
}
@-moz-keyframes blink {
  0% {opacity: 0;content: ''}
  100% {opacity: 1;content: '_'}
}
@-o-keyframes blink {
  0% {opacity: 0;content: ''}
  100% {opacity: 1;content: '_'}
}
@keyframes blink {
  0% {opacity: 0;content: ''}
  100% {opacity: 1;content: '_'}
}
.links-active {
  .include{
    background: @white;
  }
}
.bg-canvas{
  position: absolute;
  z-index: 0;
  display: none;
}
.box.include>div.https {
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  width: 100%;
  padding-top: 10px;
  a{
    display: block;
    padding: 20px;
    color: @black;
    opacity: 0.8;
    margin: 0;
    border-bottom: 1px solid #dededc;
    font-size: 20px;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(.63,.33,.3,.99);
    transition: all 0.4s cubic-bezier(.63,.33,.3,.99);height: 10vh;min-height: 85px;
    &[href]{
      cursor: pointer;
    }
    span{
      background: @black;
      color: @white;
      margin-right: 5px;
      padding: 5px;
    }
    &:hover {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      backface-visibility: hidden;
      perspective: 1000px;
      background: #eee;
      box-shadow: inset -80vw 0px #fafafa;
      &:after,
      &:before{opacity: .9;}
    }
  }
  .p:after,
  .f:after,
  .s:after,
  .k:after,
  .i:after{font-size: 12px;position: absolute;right: 20px;bottom: 20px;color: @white;padding: 5px;opacity: 0.3;}
  .p:before,
  .f:before,
  .s:before,
  .k:before,
  .i:before{font-size: 10px;position: absolute;left: 20px;bottom: 20px;content: "WEBSITE";opacity: 0.4;}
  .p:after{content: "PORTFOLIO";color: @black;border: 1px solid @black;}
  .f:after{content: "FREELANCE";color: #071eec;border: 1px solid #071eec;}
  .s:after{content: "SAPIENT";color: #de2728;border: 1px solid #de2728;}
  .k:after{content: "SRISTHI/KREATIO";color: #039582;border: 1px solid #039582;}
  .i:after{content: "ISPG";color: #1d97db;border: 1px solid #1d97db;}
  .p:hover{color: @black;}
  .f:hover{color: #071eec;}
  .s:hover{color: #de2728;}
  .k:hover{color: #039582;}
  .i:hover{color: #1d97db;}
  .p:hover span{background: @black;color: @white;}
  .f:hover span{background: #071eec;color: @white;}
  .s:hover span{background: #de2728;color: @white;}
  .k:hover span{background: #039582;color: @white;}
  .i:hover span{background: #1d97db;color: @white;}
}
.box.include>div.filter{
  position: relative;
  float: right;
  .fonts( 10 );
  text-transform: uppercase;
  a{
    cursor: pointer;
    padding: 5px 5px 3px;
    color: @white;
    background: #ddd;
    float: left;
    margin: 0 1px;
    &.active,&:hover{
      opacity: 1;
      &.p{background: @black;}
      &.f{background: #071eec;}
      &.s{background: #de2728;}
      &.k{background: #039582;}
      &.i{background: #1d97db;}
    }
  }
}
.coordinates{
  display: none;
}
.box.include>div.work {
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  width: 100%;
  padding-top: 100px;
  .work-view{
    clear: both;
    margin: 0 0 50px;
    .clearfix();
    .work-image{
      float: left;
      width: 50%;
      .image{
        width: 360px;
        height: 225px;
        background: #eee;
        float: right;
        box-shadow: 10px 10px 0 #eee;
        img{
          width: 360px;
          height: 225px;
          border: 5px solid @white;
        }
      }
      .tags{
        display: block;
        clear: both;
        top: -30px;
        position: relative;
        .fonts( 14 );
        transition: all 1s;
        padding-left: 100px;
        span{
            &:after{
                content: ' / ';
            }
            &:last-child:after{
                content: '';
            }
        }
      }
    }
    .work-info{
      float: right;
      width: 50%;
      padding: 20px 40px;
      h4{
        margin-left: -80px;
        margin-bottom: 10px;
        transition: all 1s;
        text-shadow: 1px 1px @white;
      }
      .desc{
        .fonts( 18 );
        color: #666;
      }
    }
    &:hover{
      .work-image .tags{
        top: 25px;
      }
      .work-info h4{
        margin-left: 0;
      }
    }
  }
}

.logo {
    .logo-text {
        opacity: 0;
    }

    &:hover .logo-text {
        opacity: 1;
    }
}


body.night {
    background: @black;
    color: @white;

    footer,
    .links-active .include{ 
          background: @black;
    }

    .pre-load {
        color: @black;
        background: @white;
    }

    footer .social li a{
        filter: invert(1);
    }

    .reach-out a,
    .notfound a {
        color: @brandColor;
    }

    .box{
        a {
            color: @white;
        }

        &.logo {
            span {
                color: @white;
            }

            a {
                color: @brandColor;
            }
        }

        &.title span {
            color: @brandColor;
        }
    }
}
